.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 640px) {
    .formContainer {
        flex-direction: row;
    }
}

.inputGroup {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-300);
    border-radius: 0.375rem;
    overflow: hidden;
    flex-grow: 1;
}

@media (max-width: 639px) {
    .inputGroup {
        border-radius: 0.375rem;
    }
}

@media (min-width: 640px) {
    .inputGroup {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.mailIcon {
    position: absolute;
    left: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--gray-400);
    z-index: 1;
}

.inputField {
    flex-grow: 1;
    width: 100%;
    height: 48px;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.28px;
}

.submitButton {
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 0 0.375rem 0.375rem;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    height: 48px;
    line-height: 42px;
    letter-spacing: -0.28px;
    margin-top: 0.5rem;
    transition: background-color 150ms ease-in-out;
    width: 100%;
    text-align: center;
}

.submitButton:hover {
    background-color: var(--primary-color-hover);
}

@media (min-width: 640px) {
    .submitButton {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        margin-top: 0;
        width: 80px;
    }
}

.termsText {
    color: var(--gray-500);
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.termsLink {
    color: var(--primary-color);
    text-decoration: none;
    transition: text-decoration 150ms ease-in-out;
}

.termsLink:hover {
    text-decoration: underline;
}
